@import '../../node_modules/bootstrap/scss/bootstrap.scss';
//@import '../../node_modules/plyr/src/sass/plyr.scss';

.plyr--audio {
    display: flex;
}

audio{
    display: block;
    margin: auto;
    width: 500px;
}

.rendering {
    padding: 0.25em;
}

.rendering-content {
    margin: 1em;
}

footer{
    margin: 1em;
}

.info-img-container, #render-img{
    position: relative;
}

#svg-container{
    position: absolute;
    top:0;
    left:0;
}

#render-img, #svg-container{
    width: 600px;
    height: 600px;
}