@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

.plyr--audio {
    display: flex;
}

audio{
    display: block;
    margin: auto;
    width: 500px;
}

.rendering {
    padding: 0.25em;
}

.rendering-content {
    margin: 1em;
}

footer{
    margin: 1em;
}

.info-img-container, #render-img{
    position: relative;
}

.info-img-container, .svg-container{
    width: auto;
    height: auto;
}

.svg-container{
    position: absolute;
    top:0;
    left:0;
}


.render-img, .render-svg{
    display: block;
    max-width: 600px;
    max-height: 600px;
    width: auto;
    height: auto;
}

li {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0px !important;
}
