
 #preferences-submit {
    background: #2196f3 ; 
    border: none;
    border-radius: 12px;
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    text-decoration: none;
    width: 140px; 
    height: 40px; 
}

#inputUrl{
    height: 10px;
    width: 250px;
    font-size:12pt;
}

#wrapperDiv{
    position:relative;
    top:0px; 
    overflow:auto;
}

#divText{
    float: left;
}

#divToggleButton{
    margin-top: 9px;
    left: 10px;
}

#preprocessItem{
    font-size:11pt;
}

#requestItem{
    font-size:11pt;
}

.toggle-container {
    position:relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    pointer-events: none;
  }

  .toggle-container input {
    opacity: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
  }

  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #808080;
    transition: 0.4s;
    pointer-events: none;
  }

  .slider::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    transition: 0.2s;
    pointer-events: none;
  }

  .slider::after {
    position: absolute;
    height: 20px;
    width: 12px;
    right: 5px;
    bottom: 5px;
    transition: 0.2s;
    pointer-events: none;
    color: #fff;
  }

  input:checked + .slider {
    background-color: #2196f3;
  }

  input:checked + .slider:before {
    transform: translateX(25px);
  }

  input:checked + .slider:after {
    left: 8px;
  }


.slider.round {
    border-radius: 34px;
  }
  
.slider.round:before {
    border-radius: 50%;
  }
