#closing-button {
    background-color:#008CBA; 
    border: none;
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    width: 150px; 
    height: 50px; 
}
