#closing-button {
    background-color:#008CBA; 
    border: none;
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
}
